<div id="reported-by" class="-generated-block -generated-block-fragment">
    <code>helpdesk-reported-by</code>
    <h3>Block find-user</h3>
    <ul>
        <li><button treetop-link="/ticket/helpdesk/find-reported-by">find-helpdesk-reported-by*</button></li>
        
    </ul>
    {{ block "find-user" .FindUser }}
    <div id="find-user"> default for block named find-user </div>
    {{ end }}
    
</div>
