<div id="component-tags" class="-generated-block -generated-block-fragment">
    <code>systems-component-tags-input-group</code>
    <h3>Block tag-search</h3>
    <ul>
        <li><button treetop-link="/ticket/systems/find-tag">systems-component-tag-search</button></li>
        
    </ul>
    {{ block "tag-search" .TagSearch }}
    <div id="tag-search"> default for block named tag-search </div>
    {{ end }}
    
</div>
