<div id="form" class="-generated-block -generated-block-partial">
    <code>new-software-ticket</code>
    <h3>Block assignee</h3>
    <ul>
        <li><button treetop-link="/ticket/software/update-assignee">view-software-assignee*</button></li>
        
    </ul>
    {{ block "assignee" .Assignee }}
    <div id="assignee"> default for block named assignee </div>
    {{ end }}
    
    <h3>Block attachment-list</h3>
    <ul>
        
        <li><form action="/ticket/software/upload-attachment" method="POST" treetop><button>uploaded-software-files</button></form></li>
        
    </ul>
    {{ block "attachment-list" .AttachmentList }}
    <div id="attachment-list"> default for block named attachment-list </div>
    {{ end }}
    
    <h3>Block form-message</h3>
    <ul>
        <li><form action="/ticket/software/submit" method="POST" treetop><button>submit-software-ticket</button></form></li>
        
    </ul>
    {{ block "form-message" .FormMessage }}
    <div id="form-message"> default for block named form-message </div>
    {{ end }}
    
    <h3>Block notes</h3>
    <ul>
        
        
    </ul>
    {{ block "notes" .Notes }}
    <div id="notes"> default for block named notes </div>
    {{ end }}
    
</div>
