<div id="assignee" class="-generated-block -generated-block-fragment">
    <code>view-software-assignee</code>
    <h3>Block find-user</h3>
    <ul>
        <li><button treetop-link="/ticket/software/find-assignee">find-software-assignee*</button></li>
        
    </ul>
    {{ block "find-user" .FindUser }}
    <div id="find-user"> default for block named find-user </div>
    {{ end }}
    
</div>
